* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}

img {
  max-width: 100%;
  display: block;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: grey;
}

.logoImg {
  width: 150px;
}
#paletteContainer {
  display: flex;
  height: 70vh;
  width: 100%;
}

.color-box {
  flex: 1;
  transition: flex 0.3s ease;
  cursor: pointer;
  border: 3px;
  border-color: black;
}

.color-box:hover {
  flex: 1.2;
}

select {
  margin: 10px;
}

#interactionContainer {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: lightgray;
}

.paletteInputs {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  margin: 5px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: grey;
  padding: 30px;
}
